

body, div, p, span, strong {
  font-family: Inter, sans-serif;
}

body {
  background-color: #f7f9fc !important;
  color:#6f7182 !important;
  padding-top: 56px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.857em;
}
h2{
color: #0b0e2c;
margin-top: 0;
margin-bottom: 16px;
font-size: 30px;
font-weight: 600;
line-height: 1.273em;
}
.wight-400{
font-weight: 400 !important;
}
/* formatos texto */
.text-f24 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 1.417em !important;
}

.text-f18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333em;
}

.opacity-80 {
  opacity: .80;
}

.display-4 {
color: #0b0e2c;
font-size: 22px;
font-weight: 600;
line-height: 1.455em;
}
.display-5 {
  color: #6f7182;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.455em;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
}
.display-6 {
  color: #6f7182;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.455em;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
}
.color-dark{
   color: #0b0e2c;
}
/* END formatos texto */

.navbar {
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(11, 22, 44, .05) !important;
}

.profile-container {
  min-height: 274px;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 24px;
  padding: 36px;
  position: relative;
  overflow: hidden;
  background-image: url('../images/dd2.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.border-r-14{
  border-radius: 14px;
}
.profile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-info {
  display: flex;
  align-items: center;
  width: 100%; /* Ajusta el ancho según sea necesario */
}

.profile-image {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .profile-image, .profile-text {
    margin: auto !important;
  }
  .profile-text{
    margin-top: 15px !important;
  }
}
@media (max-width: 992px) {
  #navbarTitle{
    width: calc(100% - 80px);
  }
}

/* image de producto */
.cont-img-prod {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.img-prod {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.cont-img-prod::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.cont-img-prod:hover .img-prod {
  transform: scale(1.1);
}
.cont-img-prod:hover::before {
  transform: scaleY(1);
}
/* end image de producto */



.btn-light {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
}

.profile-info h2,
.profile-info p {
  
  color: white;
}
.module{
grid-column-gap: 24px;
grid-row-gap: 24px;
border-radius: 30px;
padding: 36px;
top: 24px;
border: 1px solid #e9eaf3;
background-color: white;
box-shadow: 0 2px 10px 0 rgba(25, 93, 194, .07);
border-radius: 20px;
}
/* experiencia */
.experience-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.company-info {
  display: flex;
  align-items: center;
}
.company-logo {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Esto asegura que la imagen se ajuste proporcionalmente */
  margin-right: 15px;
}
.company-details {
  text-align: left;
}
.company-name {
  font-weight: bold;
}
.company-location {
  margin-top: 5px;
}
.employment-period {
  text-align: right;
}
.profile-experience-text {
  margin-top: 10px;
}


/*----------------------------*/
/*----------------------------*/

.flex.gap-12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.flex.children-wrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.mg-bottom-auto {
  margin-bottom: auto;
}

.dashly-custom-icon {
  font-family: Dashboardly Custom Icons, sans-serif;
}

.dashly-custom-icon.sidebar-link-icon {
  margin-right: 10px;
  font-size: 20px;
  line-height: 1em;
}

.dashly-custom-icon.dashboard-nav-profile-icon {
  color: var(--accent--primary-1);
  margin-right: 8px;
  font-size: 18px;
  line-height: 1em;
}

.dashly-custom-icon.dashboard-nav-profile-icon.color-secondary-8 {
  color: var(--secondary--color-8);
}

.dashly-custom-icon.table-sort-icon {
  margin-left: 6px;
  font-size: 10px;
  line-height: 1em;
}

.dashly-custom-icon.edit-icon {
  cursor: pointer;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.edit-icon:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.delete-icon {
  cursor: pointer;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.delete-icon:hover {
  color: var(--system--red-400);
}

.dashly-custom-icon.tasks-top-modules-detail-icon {
  cursor: pointer;
  font-size: 18px;
  line-height: 1em;
  transition: color .3s;
  position: absolute;
  top: 14px;
  right: 26px;
}

.dashly-custom-icon.tasks-top-modules-detail-icon:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.square-button {
  max-height: 26px;
  max-width: 26px;
  min-height: 26px;
  min-width: 26px;
  border: 1px solid var(--neutral--300);
  background-color: #f7f9fc;
  color: #6f7182;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  text-decoration: none;
  display: flex;
}

.dashly-custom-icon.square-button:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.square-button.color-neutral-800 {
  color: var(--neutral--800);
}

.dashly-custom-icon.square-button.color-neutral-800:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.color-accent-1.mg-right-8px {
  margin-top: 1px;
}

.dashly-custom-icon.color-accent-1.course {
  font-size: 25px;
}

.dashly-custom-icon.link-icon-left {
  margin-right: 6px;
  display: inline-block;
}

.dashly-custom-icon.link-icon-left.rotate-180deg {
  display: inline-block;
}

.dashly-custom-icon.link {
  cursor: pointer;
  transform-style: preserve-3d;
  text-decoration: none;
  transition: transform .3s, color .3s;
  display: inline-block;
}

.dashly-custom-icon.link:hover {
  color: var(--accent--primary-1);
  transform: scale3d(1.06, 1.06, 1.01);
}

.dashly-custom-icon.text-format-button {
  color: var(--neutral--800);
  cursor: pointer;
  font-size: 16px;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.text-format-button:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.view-icon {
  cursor: pointer;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.view-icon:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.download-icon {
  cursor: pointer;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.download-icon:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.link-icon {
  cursor: pointer;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.link-icon:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.details-icon {
  cursor: pointer;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.details-icon:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.chat-box-icon {
  cursor: pointer;
  font-size: 24px;
  line-height: 1em;
  transition: color .3s;
}

.dashly-custom-icon.chat-box-icon:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.token-input-copy-button {
  max-height: 30px;
  max-width: 30px;
  min-height: 30px;
  min-width: 30px;
  border: 1px solid var(--neutral--300);
  background-color: var(--neutral--100);
  box-shadow: 0 4px 10px 0 var(--button-shadow--white-01);
  cursor: pointer;
  border-radius: 99999px;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  transition: color .3s;
  display: flex;
  position: absolute;
  top: 6px;
  right: 12px;
}

.dashly-custom-icon.token-input-copy-button:hover {
  color: var(--accent--primary-1);
}

.dashly-custom-icon.dashboard-nav-profile-icon {
  color: #1476ff;
  margin-right: 8px;
  font-size: 18px;
  line-height: 1em;
}

.dashly-custom-icon.dashboard-nav-profile-icon.color-secondary-8 {
  color: #ff414c;
}

.line-height-0{
  line-height:0;
}

.divider {
  margin-top: 64px;
  margin-bottom: 64px;
  height: 1px;
  background-color:#e9eaf3;
}
.divider.top-28px---bottom-40px {
  margin-top: 28px;
  margin-bottom: 40px;
}
.social-icon-square:hover {
  color: var(--color-primary-hover);
  transform: scale3d(1.08, 1.08, 1.01);
}

.line-rounded-icon {
  font-family: Line Rounded Icons, sans-serif;
}

.line-rounded-icon.link-icon-right {
  margin-left: 6px;
  display: inline-block;
}

.line-rounded-icon.link-icon-right.mg-left-4px {
  margin-left: 4px;
}

.line-rounded-icon.link-icon-left {
  margin-right: 6px;
  display: inline-block;
}

.line-rounded-icon.dropdown-arrow {
  margin-left: 8px;
}

.line-rounded-icon.dropdown-arrow.profile-dropdown {
  color: var(--neutral--500);
  margin-left: 12px;
  display: block;
}

.line-rounded-icon.dropdown-arrow.module-dropdown {
  color: var(--neutral--500);
  line-height: 1em;
}

.line-rounded-icon.dropdown-arrow.dashboard-dropdown-top-icon {
  margin-left: auto;
  line-height: 1em;
}

.line-rounded-icon.dropdown-arrow.profile-dropdown {
  color: #989aad;
  margin-left: 12px;
}

.line-rounded-icon.success-message-check {
  color: var(--accent--primary-1);
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 1em;
}

.line-rounded-icon.sidebar-dropdown-arrow {
  margin-left: auto;
}

.line-rounded-icon.dashboard-top-search-bar-icon {
  z-index: 1;
  color: var(--neutral--500);
  align-items: center;
  font-size: 18px;
  line-height: 1em;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
}

.line-rounded-icon.dashboard-top-dropdown-icon {
  color: var(--neutral--800);
  margin-right: 8px;
  font-size: 18px;
  line-height: 1em;
}

.line-rounded-icon.breadcrumb-divider {
  margin-left: 14px;
  margin-right: 14px;
}

.line-rounded-icon.breadcrumb-divider._8px {
  margin-left: 8px;
  margin-right: 8px;
}

.line-rounded-icon.chat-search-bar-icon {
  z-index: 1;
  color: var(--neutral--500);
  align-items: center;
  font-size: 18px;
  line-height: 1em;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
}

.line-rounded-icon.link {
  cursor: pointer;
  transition: color .3s;
}

.line-rounded-icon.link:hover {
  color: var(--accent--primary-1);
}

.line-rounded-icon.help-center-search-bar-icon {
  z-index: 1;
  color: var(--neutral--500);
  align-items: center;
  font-size: 18px;
  line-height: 1em;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
}

.line-rounded-icon.search-results-icon {
  color: var(--neutral--500);
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
}

.line-rounded-icon.dashboard-top-search-bar-icon {
  z-index: 1;
  color: #989aad;
  align-items: center;
  font-size: 18px;
  line-height: 1em;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
}

.line-rounded-icon.link-icon-left {
  color: #086cd9;
  margin-right: 6px;
  display: inline-block;
}

.line-rounded-icon.success-message-check {
  color: #1476ff;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 1em;
}
.btn-blue {
  border-color: #1476ff;
  background-color: #1476ff;
  color: white;
  grid-column-gap: 6px;
  align-items: center;
  margin-left: 11px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143em;
  display: flex;
}
.btn-blue:hover {
  border-color: #004cff;
  background-color: #004cff;
}
.btn-white {
  border-color: #e9eaf3;
  background-color: white;
  color: #0b0e2c;
  grid-column-gap: 6px;
  align-items: center;
  margin-left: 11px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143em;
  display: flex;
  box-shadow: 0 4px 10px 0 rgba(20, 20, 43, .04);
}
.btn-white:hover {
  border-color: #1476ff;
  background-color: #1476ff;
}
.btn{
  transition: border-color .3s, transform .3s, background-color .3s, color .3s;
}
.btn:hover{
  transform: scale3d(1.06, 1.06, 1.01);
}

.badge-secondary {
  border: 1px solid var(--neutral--300);
  background-color: var(--neutral--100);
  box-shadow: 0 2px 12px 0 var(--general--shadow-02);
  color: var(--neutral--800);
  text-align: center;
  border-radius: 40px;
  padding: 7px 10px;
  font-size: 12px;
  line-height: 1.167em;
  text-decoration: none;
  display: inline-block;
}

.badge-secondary.white {
  border-color: var(--neutral--100);
  box-shadow: none;
  color: var(--neutral--100);
  background-color: rgba(0, 0, 0, 0);
}

.badge-secondary.light {
  background-color: #f7f9fc;
  box-shadow: none;
  border-width: 0;
}

.badge-secondary.small {
  padding: 5px 10px;
}

.badge-secondary.large {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.125em;
}

.badge-secondary.medium {
  font-weight: 500;
}

.badge-secondary.bold {
  font-weight: 700;
}

.badge-secondary.gray {
  border-color: #f7f9fc;
  background-color: #f7f9fc;
  box-shadow: none;
  color: #6f7182;
  white-space: nowrap;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 500;
}

.badge-secondary.blue {
  border-color: var(--system--blue-100);
  background-color: var(--system--blue-100);
  box-shadow: none;
  color: var(--accent--primary-1);
}

.badge-secondary.green {
  border-color: var(--secondary--color-11);
  background-color: var(--secondary--color-11);
  box-shadow: none;
  color: var(--system--green-400);
}

.badge-secondary.orange {
  border-color: var(--system--orange-100);
  background-color: var(--system--orange-100);
  box-shadow: none;
  color: var(--system--orange-400);
}

.badge-secondary.purple {
  border-color: var(--secondary--color-3);
  background-color: var(--secondary--color-3);
  box-shadow: none;
  color: var(--secondary--color-4);
}

.badge-secondary.red {
  border-color: var(--system--red-100);
  background-color: var(--system--red-100);
  box-shadow: none;
  color: var(--system--red-400);
}

.badge-secondary.figma-file-badge {
  padding: 18px 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125em;
}

.text-200.medium {
  align-self: flex-start;
  font-weight: 400;
}
.text-200 {
  font-size: 14px;
  line-height: 1.143em;
}

.accordion-button{
  border: 1px solid e9eaf3;
}
.accordion-button:not(.collapsed){
  background: none;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #e9eaf3 !important;
  outline: 0;
  box-shadow:none;
}
.accordion-button.collapsed {
  border-bottom-width: 1px !important;
}


@font-face {
  font-family: 'Social Icons Font';
  src: url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd93eb168695d_social-icon-font.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd915b3686924_social-icon-font.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd9595168691d_social-icon-font.woff') format('woff'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd901de68697b_social-icon-font.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd900fb686919_social-icon-font.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Line Square Icons';
  src: url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd9707968695f_line-square-icons.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd903b0686956_line-square-icons.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd9679f686961_line-square-icons.woff') format('woff'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd94a8768697f_line-square-icons.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd96e5368697c_line-square-icons.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Filled Icons';
  src: url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd95c60686984_filled-icon-font.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd93e89686988_filled-icon-font.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd9445968692f_filled-icon-font.woff') format('woff'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd94352686981_filled-icon-font.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd99b3e686962_filled-icon-font.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Line Rounded Icons';
  src: url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd90981686960_line-rounded-icons.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd9d0d468693c_line-rounded-icons.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd9503568692c_line-rounded-icons.woff') format('woff'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd95c3368695a_line-rounded-icons.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd909ee68697a_line-rounded-icons.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dashboardly Custom Icons';
  src: url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd91cd6686a08_dashboardlycustomicons.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dashboardly Custom Icons';
  src: url('https://uploads-ssl.webflow.com/6307bafa51abd97fb76868e0/6307bafa51abd91cd6686a08_dashboardlycustomicons.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Utiliza la fuente personalizada para un elemento con la clase "icono-carrito" */
.icono-carrito {
  font-family: 'Dashboardly Custom Icons', sans-serif; /* Usa la fuente personalizada */
  font-size: 24px; /* Tamaño del icono */
  /* Otras propiedades de estilo según sea necesario */
}

/* modal changes */
.carousel-inner {
  border-radius: 16px;
}
.modal-content{
  border-radius:20px;
}
/* Cambia el color de las flechas "Next" y "Prev" a rojo */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #7c828a;
  border-radius: 7px;
}

/* Cambia el color de los indicadores de diapositivas a rojo */
.carousel-indicators button {
  background-color: #7c828a;
  border: 1px solid #7c828a;
}

/* Cambia el color de los indicadores de diapositivas activos a rojo */
.carousel-indicators .active {
  background-color: #a2a6ac;
  border: 1px solid #7c828a;
}

/* END  modal changes END */